<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>life_data_UI_Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5043F0E1C4CDE7F00473959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5043F221C4CDE7F00473959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5043F2D1C4CDE7F00473959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
